* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}
h1 {
  font-size: 4rem;

  background: linear-gradient(to top left, #23835e, #70aa3d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.container {
  height: 400px;
  width: 600px;
  margin: 2rem;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.add-list {
  height: 50px;
  margin: 2rem;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.add-work {
  height: 2rem;
  width: 60%;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  border: none;
  outline: none;
  font-size: medium;
  font-weight: 400;
}
.add-label {
  font-size: medium;
  font-weight: 700;
}

.btn {
  height: 1.5rem;
  width: 4rem;
  color: #fff;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  transition: all 0.15s;
  outline: none;
}
.btn:active {
  opacity: 0.7;
}
.add-btn {
  background-color: rgb(209, 145, 50);
}
.delete-btn {
  background-color: rgba(0, 0, 0, 0.7);
}

.circle {
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  color: white;
  background-color: white;
  border: none;
  transform: translateY(25%);
}
.selected {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.list-container {
  height: 250px;
  padding: 0 0.5rem;
  margin: 2rem;
  overflow-y: scroll;
  border-radius: 1rem;
}
.list-container::-webkit-scrollbar {
  width: 0;
}
.content {
  flex: 2;
  margin-left: 1rem;
}

.lists {
  height: 3.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 3rem;
  background-color: rgba(246, 246, 246, 0.6);
  margin: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.selected_list {
  background-color: #f3f3f3;
}
